@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-brand{
  font-size: 30px !important;
}
.home-title h1{
  font-size: 20px;
  font-family: cursive;

}
.home-title h1 span{
  font-size: 40px;
  font-weight: bold;
  display: inline-block;
  font-family: cursive;
  margin-top: 10px;
  color: #eb521a;
}
.home-image img {
 margin-top: 3em;
}
.progress{
  height: 25px;
  border-radius: 50px;
  transition: .7s ease;
}

.progress:hover{
  transform: scale(1.1);
}
#home .social-icons a{
  font-size: 30px;
  padding-left: 1.1em;
  display: inline-block;
  margin-top: 1em;
  color: blueviolet;
}
#project a{
  text-decoration: none;
  padding-left: 1.4em;
}
.card:hover{
  transform: scale(1.1);
}
#contact .card-text {
  color: rgba(0, 0, 139, 0.664) ;
  font-size: 1.3em;
}
.card-subtitle i{
  font-size: 5em;
  color:rgb(0, 0, 139) ;
}
footer .social-icons i{
  color: #fff ;
  margin-top: 1.1em;
  padding-left: 1.4em;
  font-size: 1.2em;
}
.col{
  display: flex;
  justify-content: center;
}
